.stateContainer {
  position: absolute;
  color: black;
  font-weight: 700;
  cursor: pointer;
  font-size: 11px;
}

.statesNotPresent {
  cursor: not-allowed;
  color: grey;
}

.jammu {
  top: 5rem;
  left: 10rem;
}

.himachal-pradesh {
  top: 8rem;
  left: 16rem;
}

.punjab {
  top: 8.5rem;
  left: 12rem;
}

.haryana {
  top: 13rem;
  left: 13rem;
}

.uttarakhand {
  top: 11rem;
  left: 19rem;
}

.rajasthan {
  top: 17rem;
  left: 8rem;
}

.gujarat {
  top: 23rem;
  left: 6rem;
}

.uttar-pradesh {
  top: 17rem;
  left: 20rem;
}

.madhya-pradesh {
  top: 23rem;
  left: 14rem;
}

.maharashtra {
  top: 29rem;
  left: 12rem;
}

.goa {
  top: 35rem;
  left: 9rem;
}

.bihar {
  top: 18rem;
  left: 29rem;
}

.jharkhand {
  top: 22rem;
  left: 28rem;
}

.chhattisgarh {
  top: 26rem;
  left: 22rem;
}

.andhra-pradesh {
  top: 38rem;
  left: 18rem;
}

.karnataka {
  top: 39rem;
  left: 11rem;
}

.kerala {
  top: 45rem;
  left: 12rem;
}

.tamil-nadu {
  top: 45rem;
  left: 17rem;
}

.odisha {
  top: 28rem;
  left: 26rem;
}

.west-bengal {
  top: 23rem;
  left: 32rem;
}

.sikkim {
  top: 15rem;
  left: 33rem;
}

.meghalaya {
  top: 19rem;
  left: 35rem;
}

.tripura {
  top: 22rem;
  left: 38rem;
}

.assam {
  top: 17rem;
  left: 39rem;
}

.arunachal-pradesh {
  top: 13rem;
  left: 40rem;
}

.manipur {
  top: 19.5rem;
  left: 42rem;
}

.mizoram {
  top: 23rem;
  left: 41rem;
}

.nagaland {
  top: 17rem;
  left: 43rem;
}

.delhi {
  top: 15rem;
  left: 15rem;
}

.telangana {
  top: 33rem;
  left: 17rem;
}

.ladakh {
  top: 2.5rem;
  left: 16rem;
}

.chandigarh {
  top: 11rem;
  left: 11.5rem;
}
